<h1>Update player</h1>

<% if current_user.id == @player.team_id %>

<h2><%= @player.player_name %></h2>
<h4>Position: <%= @player.position %></h2>
<br>
<h4>Preferred Number: <%= @player.number %></h4>
<br>

<a href=<%="/players/#{@player.id}/edit"%>> <button> Edit </button></a>
<form method="POST" action="/players/<%=@player.id%>" ><br>
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Retire Player">
</form>
<% else %>
<h2>The player you are trying to access is not on your team</h2>
<% end %>